.category--title {
   font-size: 2rem;
}

.category--list {
  display: block;
  margin: 20px 0;
  overflow-x: hidden;
}

.category--items {
  display: flex;
}

.category--item {
  display: inline-block;
  transform: scale(0.9);
  transition: all ease-in-out 200ms;
  width: 250px;
}

.category--item img {
  width: inherit;
  height: inherit;
}

.category--item:hover {
  transform: scale(1);
}
